* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     background-image:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),  url(/asset/backBintang.jpg);
     color: #fff;
}


/* background */

/* background */


/* navbar */

nav {
    /* background-color: #B1AFFF; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

nav ul {
    margin: 30px 30px;
    display: flex;
    list-style: none;
}

.logo {
    margin: 20px 20px;
    font-size: 1.2em;
    font-family: "Baskervville SC", serif;
    color: #fff;
}

li a {
    font-family: "Baskervville SC", serif;
    margin: 1px 15px;
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    font-weight: 800;
    letter-spacing: .2px;
}

nav a:hover {
    color: #ddd;
    border-bottom: 1px solid #fff;

}

.menu-icon {
    display: none;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    z-index: 2;
}


/* akhir navbar */

/* header */

header {
   
    height: 100vh;
    width: 100%;
    /* background-repeat: no-repeat;
    background-position: center; */
}

.container-header {
    position: absolute;
}
.tilte {
    color: #fff;
    margin: 20% 200px;
    width: 400px;
    height: 200px;
}

.tilte h1 {
   font-family: "Baskervville SC", serif;
   font-size: 3em;
   letter-spacing: 3px;
   margin: 3px 10px;
}

.tilte p {
    margin: 3px 10px;
    font-family: "Roboto", sans-serif;
}

.foto {
    width: 400px;
    height: 500px;
    position: relative;
    left: 920px;
    top: 120px;
    text-align: center;
    color: #4d4b4b;
    font-family: "Ga Maamli", sans-serif;
}
.foto h2 {
    right: 10rem;
    color: #fff;
}
.foto p {
    margin: 4px;
    color: #fff;
}

.foto img {
    width: 400px;
    height: 400px;
    margin: 20px 1pt;
    border-radius: 50%;
}



/* akhir header */

/* aboukt me */

.container-about {
    width: 100%;
    height: 100vh;
}

.tille-2 {
    text-align: center;
    font-size: 2em;
}
.tille-2 h2 {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 200;
}
.tille-2 span {
    font-family: "Baskervville SC", serif;
    font-weight: 300;
}

.foto-2 {
    width: 400px;
    height: 500px;
    margin: 30px;
    display: flex;
    /* background-color: yellow; */
    margin: 100px 200px;
}

.foto-2 img {
    width: 300px;
    height: 400px;
    padding: 15px 16px;
    margin: 10px auto;
}

.biodata {
    width: 40rem;
    height: 20rem;
    margin: 40rem 60rem;
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: center;
    border: 2px solid #ddd;
    flex-wrap: wrap;
    padding: 20px 40px;
    border-radius: 1rem;
    text-align: center;
}


.data-diri {
    width: 40rem;
    height: 20rem;
    margin: -45rem 60rem;
}

.data-diri h2 {
    padding: 10px;
    font-size: 3em;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 200;
}
.data-diri  p {
    padding: 10px;
    font-size: 1em;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}

.bio {
    border: 1px solid #ddd;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 4pt;
}
.bio h3 {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 100;
    margin: 3px;
}
.bio p {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}

/* aboukt me */

/* projeck */

 .container-projeck {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: space-evenly;
 
}

.image img {
    width: 100%;
    object-fit: cover;
    height: 150px;
} 

.card {
    max-width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: .5em;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.07) ;
    color: #4d4b4b;
    margin: 50pt 20pt;
}

.card a {
    text-decoration: none;

}

.contet   {
    color: black;
    padding: 15px;
}

.tille-4 {
    color: #111827;
    font-size: 1.200rem;
    font-weight: 600;
    line-height: 1.75rem;
    font-family: "Ga Maamli", sans-serif;
}

.docs {
    margin-top: 1.5rem;
    color: #6B7280;
    line-height: 1.40rem;
    font-size: .875rem;
    font-family: "Roboto", sans-serif;
}

.action {
    display: inline-flex;
    margin-top: 1rem;
    color: #fff;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.200rem;
    align-items: center;
    gap: .25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px; 
}

.action span {
    transition: .3s ease;
}

.action:hover span {
    transform: translateX(4px);
}

.tille-3 {
    text-align: center;
    font-size: 2em;
}
.tille-3 h2 {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 200;
}
.tille-3 span {
    font-family: "Baskervville SC", serif;
    font-weight: 300;
}


/* projeck */

/* my skill */

.tille-5 {
    text-align: center;
    font-size: 2em;
    color: #fff;
    padding-top: 20rem;
}
.tille-5 h2 {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 200;
}
.tille-5 span {
    font-family: "Baskervville SC", serif;
    font-weight: 300;
}

.container-skill {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: space-evenly;
}

.package {
  margin: 10rem ;
  width: 200px;
  height: 254px;
  background-image: linear-gradient(163deg, #ff00ff 0%, #3700ff 100%);
  border-radius: 20px;
  text-align: center;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}

.package:hover {
  box-shadow: 0px 0px 30px 1px rgba(204, 0, 255, 0.3);
}

.package2 {
  width: 200px;
  height: 254px;
  background-color: #1d1724;
  border-radius: 10px;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
  padding: 15px;
  cursor: pointer;
}

.package2:hover {
  transform: scale(0.98);
  border-radius: 18px;
}

.text {
  color: white;
  font-size: 17px;
}

.img-icon img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    padding-right:  3rem;
}
/* my skill */


/* contact me */

.container-contact {
    width: 100%;
    height: 100vh;
    padding: 20rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.data-conta {
    text-align: center;
}

.data-alamat {
    display: flex;
    flex-direction: column;
    text-align: start;
    border: 2pt solid  azure;
    width: 300px;
    height: 150px;
    justify-content: center;
    align-items: self-start;
    padding: 12pt;
    line-height: 15pt;
    border-radius: 12pt;
}

.input-data {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 200px;
    line-height: 3rem;
    padding: 12pt;
}

.input-data input {
    padding: 10pt;
    font-size: 12pt;
}

.kirim {
    background-color: aqua;
    width: 50pt;
    height: 60px;
    margin: 2rem;
}

button {
    width: 100pt;
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  margin-top: 3rem;
  padding: 1em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
/* akhir contact me */


/* container-foter */

.container-foter {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding-top: 100pt;
    padding: 5rem;
    border-top: 3pt solid #ddd;
}

.publishers span {
    font-weight: 600;
    font-size: 20pt;
    line-height: 4rem;
    font-family: "Baskervville SC", serif;
    letter-spacing: 1pt;
}

.info {
    display: flex;
    flex-direction: column;
    line-height: 3rem;
}

.sosial img {
    width: 50px;
    height: 50px;
    margin: .9rem;
    background-color: #fff;
    border-radius: 50%; 
}

.publishers {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.publishers a {
    text-decoration: none;
    color: aliceblue;

}

/* container-foter */















