@media screen and (max-width: 720px) {
nav {
  flex-wrap: wrap;
  height: auto;
  z-index: 3;
}

nav ul {
   flex-direction: column;
    width: 100%;
    gap: 10px;
  }

 nav ul.hidden {
    display: none;
  }
   

  .menu-icon {
    display: flex;
    margin: 20px 40px;
  }



  /* headear */

.tilte {
  margin: 300px auto;
  width: 300px;
  height: 300px;
}

.foto  {
  left: -4px;
  width: 400px;
  top: -10px;
  height: 350px;
  margin: 10px ;
}


.foto img {
  width: 200px;
  height: 200px;
  margin-bottom: .100rem;
}


  /* headear */

  /* abouat */

    .foto-2 img {
      width: 200px;
      height: 300px;
      margin: 10px 0rem;

  }

  .foto-2 {
      width: 400px;
      height: 500px;
      margin: 30px;
      display: flex;
      margin: 100px;
      padding-top: -100px;
  }


  .biodata {
    display: grid;
    grid-template-columns: auto auto;
    margin: 50rem 4rem;
    gap: 10px;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
  }

  .container-about {
    height: 400px;
  }
  
  .telle-2 {
    margin-bottom: 300px;
  }
  /* abouat */


  /* projeck */

  .tille-3 {
    padding-top: 40rem;
  }

  .container-projeck{
    grid-template-columns: auto;
  }
  .card {
    max-width: 400px;
    height: 400px;
    margin: 20px 30px;
  }


  /* projeck */


  /* my skill */
.container-skill {
  grid-template-columns: auto;
  align-items: center;
  margin: .100rem;
}

.package {
  display: grid;
  width: 200px;
  margin-right: 20rem;
}

/* my skill */
}